* {
    color: black;
    width: auto;
    background-color: white;
}

header {
    border: 1px solid;
    background-color: rgb(74, 189, 235);
    display: grid;
    grid-template-columns: 1fr 4fr; 
    align-items:center
}

.header img {
    width: 200px;
    float: inline-end;
}


.navigation {
    display: flex;
    flex-direction: row;
}

.navigation li {
    flex: 1;
    flex-flow: row wrap;
}

main {
    border: 1px solid;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    align-content: center; 
}

h1{
    /* display: bloc; */
    text-align: center;
    font-size: 30px; 
    border: 1px; 
}

h2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

iframe {
    width: 20px;
    height: 20px;

}
section {
    border: 1px solid;  
    display: grid;
    
}
section h1{
    font-size: 30px;
    -ms-grid-row-span: 3;
    text-align: center;
}

section h2{
    border: 0 solid;  
    display: grid;
    /* grid-template-columns: 33; */
    grid-gap: 20px;  
}

.hero {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.hero img {
    width: 150px;
    height: 150px;
    border: 1px solid;
}

fieldset {
    display: grid;
    grid-gap: 1px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}
legend {
    margin: 1px;
    font-size: larger;
    padding: 1rem;
}

label, input, button , textarea {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
input[type=checkbox] {
    width: 15px;
    height: 15px;
}

button {
    margin: 10px;
    width: auto;
    font-size: larger;
    border: none;
    border-radius: 1rem;
    padding: 10px;
    background-color: navy;
    color: aliceblue;
}
button:hover {
    background-color: green;
}

footer {
    font-size: 15px;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-area: 1/2/1/4;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.sociallinks {
    grid-template-rows: 1fr 1fr 1fr;
    
}
.contactus {
    grid-area: 1/2/2/4;
}

.form-item {
    display: grid;
}


.column1 {
    grid-template-columns: 1fr 2fr;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
.column3 {
    grid-template-rows: 1fr 1fr 1fr;
}   